# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/

# Fastlane
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/logs
fastlane/*.p8
fastlane/README.md
